cluster_size: 100
area_radius: 2000
density_nodes: 60
#area_center: 1681728,4849049
base_folder: ../TrueNets_GPU/results/
gw_strategy: BetweennessGW
topo_strategy: [SimpleBackhaul, MultiGWBackhaul, MultiGWBackhaulDisjoint]
runs: 10
